@import url("../public/css/reset.css");
@import url("../public/css/font-awesome.min.css");
@import url("../public/css/font.css");
@import url("../public/css/entypo.css");

html {
    background: #92c7d6;
    background-image: -webkit-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -moz-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -ms-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -o-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-attachment:fixed;
    height: 100%;
}

.home-corner {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 0;
    width: 0;
    font-size: 3em;
    color: #FFF;
}

.home-corner a{
    color: inherit;
    padding: 0;
}